@model Brewery_Tracker.ViewModels.Home.UserListViewModel

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Users
            </h1>
            @*<h2 class="subtitle">
                Check out this list of breweries, select which ones you've been to, and which ones are your favorites!

            </h2>*@
        </div>
    </div>
</section>

<div class="top-bot-space">
    <div class="columns is-centered">
        <div class="column is-half">
            <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>

                <tbody class="is-centered">
                    @foreach (var user in Model.AllUsers)
                    {
                        <tr>
                            <td>@user.User_ID</td>
                            <td>@user.Username</td>
                            <td>@user.User_FName</td>
                            <td>@user.User_LName</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
