@{
    ViewBag.Title = "About";
}



<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                About Us
            </h1>
            <h2 class="subtitle">
                We're something something something, breweries, bros, and beers.
            </h2>
        </div>
    </div>
</section>