
@{
    ViewBag.Title = "Beers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Beers
            </h1>
            <h2 class="subtitle">
                Here is a list of beers you might find at a brewery!

            </h2>
        </div>
    </div>
</section>

