@{
    ViewBag.Title = "Home Page";
}
<section class="hero is-dark is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Brewery Tracker
            </h1>
            <h2 class="subtitle">
                Something something something.... Beer!
            </h2>
        </div>
    </div>
</section>