@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title name-font brand">
                Welcome back, Friend!
            </h1>
            @*<h2 class="subtitle">
               Your favorite breweries and beers are calling!
            </h2>*@
        </div>
    </div>
</section>

<div class="columns is-centered">
    <div class="column is-4">


        <div class="card top-bot-space">
            @*<header class="card-header">
                <p class="card-header-title">
                    Welcome Back
                </p>
            </header>*@
            <div class="card-content">
                <div class="content">

                    <!-- LOGIN FORM-->
                    <form>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="">
                            </div>
                        </div>
  
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-link">Login</button>
                            </div>
                            <div class="control">
                                <button class="button is-text">Cancel</button>
                            </div>
                        </div>

                    </form>
                    <!-- END LOGIN FORM -->

                </div>
            </div>
        </div>

    </div>
</div>
